@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    --bg: #282828;
    --nav: #9D86CD;
    --card: #8c98e3;
    --accent: #98BFFF;
    --text-dark: #282828;
    --text-light: #ffffff;
}

[data-theme="light"] {
    --bg: #f0f0f0;
    --nav: #98BFFF;
    --card: #ffffff;
    --text-dark: #282828;
    --text-light: #282828;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
}

body {
    background-color: var(--bg);
    color: var(--text-light);
    transition: 0.4s;
}

.navbar {
    background-color: var(--nav);
    padding: 15px 5%;
    display: flex; justify-content: space-between; align-items: center;
}

.nav-links {
    display: flex; list-style: none; gap: 15px; align-items: center;
}

.nav-links a {
    text-decoration: none; color: var(--text-dark); font-size: 14px;
}

.comunidade-link {
    background: var(--accent); padding: 5px 10px; border-radius: 5px;
}

.theme-switch {
    background: var(--text-dark); color: white; border: 2px solid var(--accent);
    padding: 8px 12px; border-radius: 8px; cursor: pointer;
}

.hero { text-align: center; padding: 50px 20px; }
.hero h1 span { color: var(--nav); }

.container { max-width: 900px; margin: 0 auto; padding: 20px; }

.card {
    background-color: var(--card); color: var(--text-dark);
    padding: 30px; border-radius: 20px; border: 5px solid var(--accent);
}

.btn-primary {
    background: var(--bg); color: var(--accent);
    padding: 12px 20px; border: none; border-radius: 10px; cursor: pointer;
}

#codigo-editor {
    width: 100%; height: 150px; background: #000; color: #0f0;
    padding: 15px; font-family: monospace; border-radius: 10px; margin-top: 15px;
}

#console-output {
    background: #111; color: #fff; padding: 15px; border-radius: 10px; margin-top: 10px;
}
