/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    /* MODO ESCURO (Suas cores originais) */
    --bg-color: #282828;
    --card-bg: #9D86CD;
    --text-primary: #ffffff;
    --text-dark: #282828;
    --accent-blue: #98BFFF;
    --nav-bg: #9D86CD;
    --transition: 0.5s ease;
}

[data-theme="light"] {
    /* MODO CLARO (Inversão harmônica) */
    --bg-color: #f0f0f0;
    --card-bg: #ffffff;
    --text-primary: #282828;
    --text-dark: #282828;
    --accent-blue: #909ce8;
    --nav-bg: #8c98e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', serif;
    transition: background var(--transition), color var(--transition); /* Isso faz o "suave" */
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
}

/* Ajuste nos Cards para usarem as variáveis */
.card {
    background-color: var(--card-bg);
    color: var(--text-dark);
    border: 4px solid var(--accent-blue);
    padding: 20px;
    border-radius: 15px;
}

.navbar {
    background-color: var(--nav-bg);
}

.theme-switch {
    background-color: var(--text-dark); /* Cor escura que você pediu: #282828 */
    color: #ffffff;
    border: 2px solid var(--accent);
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Alfa Slab One', serif;
    font-size: 12px;
    transition: 0.3s;
}

.theme-switch:hover {
    background-color: var(--accent);
    color: var(--text-dark);
}
